VITE_SUPABASE_URL=https://supabase.com/dashboard/project/ivoayvlcuupswzrndvcs
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2b2F5dmxjdXVwc3d6cm5kdmNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNjkwNTQsImV4cCI6MjA4ODY0NTA1NH0.yv7RTi3WT2njS7oKmpLKwLWHA4dVBSmGwuNEf2gPMiQ